article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100% /* 1 */;
  -ms-text-size-adjust: 100% /* 2 */;
  -webkit-text-size-adjust: 100% /* 2 */;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0 /* 1 */;
  -ms-interpolation-mode: bicubic /* 2 */;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0 /* 1 */;
  padding: 0;
  white-space: normal /* 2 */;
  *margin-left: -7px /* 3 */;
}
button,
input,
select,
textarea {
  font-size: 100% /* 1 */;
  margin: 0 /* 2 */;
  vertical-align: baseline /* 3 */;
  *vertical-align: middle /* 3 */;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button /* 2 */;
  cursor: pointer /* 3 */;
  *overflow: visible /* 4 */;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box /* 1 */;
  padding: 0 /* 2 */;
  *height: 13px /* 3 */;
  *width: 13px /* 3 */;
}
input[type="search"] {
  -webkit-appearance: textfield /* 1 */;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box /* 2 */;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto /* 1 */;
  vertical-align: top /* 2 */;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearboth,
.separador {
  clear: both;
}
@media all and (min-width: 900px) {
  .separador {
    margin: 0.65em 0;
  }
}
.pie {
  overflow: hidden;
  margin: 0;
  background: #ffc0cb;
  padding: 1em;
  text-align: center;
  width: 100vw;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100% /* 1 */;
  -ms-text-size-adjust: 100% /* 2 */;
  -webkit-text-size-adjust: 100% /* 2 */;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0 /* 1 */;
  -ms-interpolation-mode: bicubic /* 2 */;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0 /* 1 */;
  padding: 0;
  white-space: normal /* 2 */;
  *margin-left: -7px /* 3 */;
}
button,
input,
select,
textarea {
  font-size: 100% /* 1 */;
  margin: 0 /* 2 */;
  vertical-align: baseline /* 3 */;
  *vertical-align: middle /* 3 */;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button /* 2 */;
  cursor: pointer /* 3 */;
  *overflow: visible /* 4 */;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box /* 1 */;
  padding: 0 /* 2 */;
  *height: 13px /* 3 */;
  *width: 13px /* 3 */;
}
input[type="search"] {
  -webkit-appearance: textfield /* 1 */;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box /* 2 */;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto /* 1 */;
  vertical-align: top /* 2 */;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
transition all 0.3s linear,
::-webkit-scrollbar {
  display: none;
}
body {
  color: #555;
}
.contenedor {
  padding: 1rem;
}
.circulo {
  -webkit-animation-name: girador;
  -moz-animation-name: girador;
  -o-animation-name: girador;
  -ms-animation-name: girador;
  animation-name: girador;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 60s;
  -moz-animation-duration: 60s;
  -o-animation-duration: 60s;
  -ms-animation-duration: 60s;
  animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 50%;
  display: inline-block;
  max-width: 450px;
  max-height: 450px;
  overflow: hidden;
}
.circulo img,
.circulo svg,
.circulo canvas {
  border-radius: 50%;
  display: block;
  height: 300px;
  width: 300px;
}
.controles {
  padding: 0.5rem;
}
input[type=range].slider {
  width: 60%;
  margin: 1.5rem 0;
  background-color: transparent;
  -webkit-appearance: none;
  display: inline;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  background: #bbb;
  border: 0;
  width: 100%;
  height: 32px;
  cursor: pointer;
}
input[type=range].slider::-webkit-slider-thumb {
  margin-top: 0px;
  width: 32px;
  height: 32px;
  background: #5c837d;
  border: 1.9px solid rgba(0,30,0,0.57);
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #523663;
}
input[type=range].slider::-moz-range-track {
  background: #547871;
  border-radius: 12px;
  border: 0;
  width: 100%;
  height: 22px;
  cursor: pointer;
}
input[type=range].slider::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background: #5c837d;
  border: 1.9px solid rgba(0,30,0,0.57);
  border-radius: 50%;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0.8px 0;
  color: transparent;
  width: 100%;
  height: 32px;
  cursor: pointer;
}
input[type=range].slider::-ms-fill-lower {
  background: #ffffa8;
  border: 0;
}
input[type=range].slider::-ms-fill-upper {
  background: #ffffd6;
  border: 0;
}
input[type=range].slider::-ms-thumb {
  width: 32px;
  height: 32px;
  background: #5c837d;
  border: 1.9px solid rgba(0,30,0,0.57);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0px;
/*Needed to keep the Edge thumb centred*/
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #ffffd6;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #fff;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  input[type=range].slider {
    margin: 0;
/*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
/*# sourceMappingURL=style.css.map */