// Un círculo cromático hecho con CSS en forma animada

// Normalizando 
@import 'normalize.styl'
@import 'funciones'
@import 'node_modules/nib/index'
@import 'slider.styl'
@import 'paletas.styl'

// Para dar un centrado y que todo se contenga en las cajas
*
	box-sizing border-box
	text-align center

body
	color #555

.contenedor
	padding 1rem

.paletitas 
    background none
    border none

.controles
	padding 0.5rem

.circulo
	animation-name girador
	animation-timing-function linear
	animation-duration 60s
	animation-iteration-count infinite
	border-radius 50%
	display inline-block
	max-width 450px
	max-height 450px
	overflow hidden

	img
    canvas
    svg
		border-radius 50%
		display block
		height 280px
		width 280px